@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
};

#app {
    height: 100vh
}

.conversation-item .avatar.online:before {
    width: 8px;
    height: 8px;
    top: 1%;
    right: 1%;
}